<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>

<body>
    <h1>Welcome To the text Analyzer Enter Your Text below</h1><br>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 713px; height: 141px;"></textarea><br>
        <input type="checkbox" name="capitalized"> capitalized<br>
        <input type="checkbox" name="fullCaps"> UPPERCASE<br>
        <input type="checkbox" name="newLineRemover"> Remove New Line<br> 
        <input type="checkbox" name="spaceRemover"> Remove Extra Space<br> 
        <!-- <input type="checkbox" name="extraspaceremove"> Remove ExtraSpace<br> <input type="checkbox" name="extraspaceremove"> Remove ExtraSpace<br> -->
        <button type="submit">Analyze Text</button>
    </form>
</body>

</html>